*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root { 
    --branding-color: #6c63ff;
    --secondary-color: #f9f7fe;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}
body{
        background-color: #f9f7fe;
        
}
.container{
    padding: 10px 6%;
   
&__nav-bar-menu{
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
}

&__nav-bar-menu ul li{
    display: inline-block;
    margin: 10px 20px;
    list-style: none;
    font-size: "Poppins",
            sans-serif;
        
}
&__nav-bar-menu ul li a {
  text-decoration: none;
color: #272142;
    transition: all 100ms ease-in-out;
    line-height: 42px;
    font-size: 18px;
    font-size: "Poppins",
            sans-serif;
        

}
&__nav-bar-menu ul li a:hover {
    color: #6c63ff;
   cursor: pointer;

}

}
.logo{
    max-height: 40px;
}
.home{
    color: #6c63ff;
}
.codes{
    position: absolute;
    top:21.2px;
    font-weight: bolder;
   font-size: "Poppins",
    sans-serif;
}
.main-section{
    display:flex;
    justify-content: center ;
    align-items: center;
    margin-top: 3rem;
    &__header1{
        font-size:36px;
font-weight: bold;
color:#272142    }

&__header2{
   padding: 16px;
    font-size:44px;
}
&__header3 {
font-family: "Playfair Display",
    serif;
    padding: 16px;
    font-size: 24px;
}
}
.click {
    
    border-radius: 4px;
      padding: 15px 40px;
        margin-left: 100px;
        border: none;
            background-color: #6c63ff;
            margin-top: 16px;
            &:hover{
                    cursor: pointer;
                   background-color: #f9f7fe; 
            
                }
        }
        .click a{
            text-decoration: none;
            color: #f9f7fe;
                font-size: 16px;
                text-align: center;
               
                font-family: "Poppins",
                    sans-serif;
        }
                
    
            
   
.section1{
    display: block;
    justify-content: center;
    text-align: center;
    padding: 80px 40px;
    background-color:white;
    box-shadow: #000 1px solid;
    margin-top: 50px;
    font-size: 16px;
    font-family: "Poppins",
            sans-serif;

}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    &__h1{
        font-size:90px;
        font-style:"Playfair Display",
\            serif;
            padding: 80px ;
       
            
    }
    &__p{
padding:4px 99px;
font-size: 20px;
line-height: 40px;
    }
    &__details{
        background-color: white;
            box-shadow: #000 1px solid;
    }
}
.click1{
    padding:30px 80px;
    background-color: white;
    border-color: #6c63ff;
    border-radius: 4px;
    text-align: center;
    color: #6c63ff;
    margin-left:170px;
    margin-top: 50px;
    &:hover {
            background-color: #6c63ff;
            color: #f9f7fe;
            cursor: pointer;
    }
}
.click1 a {
   text-decoration: none;
   color: #6c63ff;
   font-size: 18px;
        font-size: "Poppins",
            sans-serif;
            &:hover{
                    background-color: #6c63ff;
                    color: #f9f7fe;
                    cursor: pointer;
                }
           
}


.section3{
    display: grid;
    grid-template-columns: auto auto;
    padding: 80px 40px;
        background-color: white;
        box-shadow: #000 1px solid;
        margin-top: 50px;
        font-size: 16px;
        text-align: center;
        &__h3{
            font-size: 40px;
            font-style: "Playfair Display",
                serif;
        }
        &__p{
            font-size: "Poppins",
                sans-serif;
                font-size: 20px;padding: 10px;
        }
}
.footer{
   text-align: center;
   padding:50px;
&__p{
        font-size: 30px;
        margin-top: 40px;
        
        
    }
  &__email{
    font-size: 30px;
   padding: 10px;
   margin-bottom: 30px;
   &:hover{
    color: #6c63ff;
    cursor: pointer;
   }
  }
  &__icons1 {
      margin-right: 80px;
        &:hover {
                background-color: #6c63ff;
                border-radius: 20px;
                cursor: pointer;
                color: #f9f7fe;
                padding: 13px 10px;
            }
  }
   &__icons2 {
       margin-right: 80px;
        &:hover {
                background-color: #6c63ff;
                border-radius: 20px;
                cursor: pointer;
                color: #f9f7fe;
                padding: 13px 10px;
            }
   }
        &__icons3 {
            margin-right: 80px;
            &:hover {
                   background-color: #6c63ff; 
                   border-radius: 20px;
                    cursor: pointer;
                    color: #f9f7fe;
                    padding: 13px 10px;
            }
        }
  &__icons{
color: #6c63ff;
display: flex;
justify-content: center;
text-align: center;
margin-left: 80px;

&:hover{
        color:black;
        cursor: pointer;
        

    }
&__icons1{
margin-right:100px;
}


  }
}

